# Development files
.git
.github
.vscode
node_modules
scripts
src
tests
__tests__
*.test.*
*.spec.*
*.stories.*
*.config.*
.eslintrc*
.prettierrc*
.editorconfig
.gitignore
.npmrc
.yarnrc
tsconfig*.json
vite.config.ts

# Build files
dist/*.map
dist/*.d.ts.map

# Documentation
docs
*.md
!README.md
!LICENSE

# Misc
.DS_Store
*.log
*.lock
.env*
coverage
.nyc_output

# Config files
docker-compose.yml
index.html

# Misc
*.pem
.cursorrules
todo.md
StyleGuide.md 